In [0]:
import tensorflow
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import read_csv

In [87]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1. Read the dataset

In [88]:
# load dataset

dataframe = read_csv("/content/drive/My Drive/Colab Notebooks/aiml/bank.csv")
dataframe.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

2. Drop the columns which are unique for all users like IDs (5 points)

In [0]:
df = dataframe.drop(['CustomerId'], axis=1)
df1 = df.drop(['RowNumber'], axis=1)
df2 = df1.drop(['Surname'], axis=1)

In [90]:
df2.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

3. Distinguish the feature and target set (5 points)

In [0]:
# split into input (X) and output (Y) variables
X = df2.iloc[:,0:10]
Y = df2.iloc[:,10]

In [92]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

In [93]:
X.iloc[:,2]

0       Female
1       Female
2       Female
3       Female
4       Female
5         Male
6         Male
7       Female
8         Male
9         Male
10        Male
11        Male
12      Female
13      Female
14      Female
15        Male
16        Male
17      Female
18        Male
19      Female
20        Male
21      Female
22      Female
23        Male
24      Female
25        Male
26        Male
27        Male
28      Female
29        Male
         ...
9970      Male
9971    Female
9972      Male
9973      Male
9974      Male
9975      Male
9976    Female
9977    Female
9978      Male
9979    Female
9980      Male
9981      Male
9982    Female
9983      Male
9984      Male
9985      Male
9986      Male
9987      Male
9988      Male
9989      Male
9990      Male
9991    Female
9992      Male
9993      Male
9994    Female
9995      Male
9996      Male
9997    Female
9998      Male
9999    Female
Name: Gender, Length: 10000, dtype: object

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_X_gender_encoder = LabelEncoder()
X.iloc[:,2] = label_X_gender_encoder.fit_transform(X.iloc[:,2])

In [0]:

label_X_country_encoder = LabelEncoder()
X.iloc[:,1] = label_X_country_encoder.fit_transform(X.iloc[:,1])

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France       0  ...          1               1        101348.88
1             608     Spain       0  ...          0               1        112542.58
2             502    France       0  ...          1               0        113931.57
3             699    France       0  ...          0               0         93826.63
4             850     Spain       0  ...          1               1         79084.10
5             645     Spain       1  ...          1               0        149756.71
6             822    France       1  ...          1               1         10062.80
7             376   Germany       0  ...          1               0        119346.88
8             501    France       1  ...          0               1         74940.50
9             684    France       1  ...          1               1         71725.73
10            528    France       1  ...          0               0         80181.12
11            497     Spain       1  ...          1               0         76390.01
12            476    France       0  ...          1               0         26260.98
13            549    France       0  ...          0               0        190857.79
14            635     Spain       0  ...          1               1         65951.65
15            616   Germany       1  ...          0               1         64327.26
16            653   Germany       1  ...          1               0          5097.67
17            549     Spain       0  ...          1               1         14406.41
18            587     Spain       1  ...          0               0        158684.81
19            726    France       0  ...          1               1         54724.03
20            732    France       1  ...          1               1        170886.17
21            636     Spain       0  ...          1               0        138555.46
22            510     Spain       0  ...          1               0        118913.53
23            669    France       1  ...          0               1          8487.75
24            846    France       0  ...          1               1        187616.16
25            577    France       1  ...          0               1        124508.29
26            756   Germany       1  ...          1               1        170041.95
27            571    France       1  ...          0               0         38433.35
28            574   Germany       0  ...          1               1        100187.43
29            411    France       1  ...          1               1         53483.21
...           ...       ...     ...  ...        ...             ...              ...
9970          518    France       1  ...          1               0        119377.36
9971          833    France       0  ...          0               0        166472.81
9972          758    France       1  ...          1               0        171552.02
9973          611    France       1  ...          1               1        157474.10
9974          583    France       1  ...          1               0         13549.24
9975          610   Germany       1  ...          1               0        196526.55
9976          637    France       0  ...          1               0         84419.78
9977          683    France       0  ...          1               1         24991.92
9978          774    France       1  ...          1               0        191608.97
9979          677    France       0  ...          0               1          2988.28
9980          741     Spain       1  ...          0               0         99595.67
9981          498   Germany       1  ...          1               1         53445.17
9982          655   Germany       0  ...          1               0        115146.40
9983          613    France       1  ...          0               0        151325.24
9984          602   Germany       1  ...          1               1         51695.41
9985          659    France       1  ...          1               0         96833.00
9986          673   Germany       1  ...          0               1         34047.54
9987          606     Spain       1  ...          1               1          1914.41
9988          775    France       1  ...          1               0         49337.84
9989          841     Spain       1  ...          1               1        179436.60
9990          714   Germany       1  ...          1               0         53667.08
9991          597    France       0  ...          1               0         69384.71
9992          726     Spain       1  ...          1               0        195192.40
9993          644    France       1  ...          1               0         29179.52
9994          800    France       0  ...          0               0        167773.55
9995          771    France       1  ...          1               0         96270.64
9996          516    France       1  ...          1               1        101699.77
9997          709    France       0  ...          0               1         42085.58
9998          772   Germany       1  ...          1               0         92888.52
9999          792    France       0  ...          1               0         38190.78

[10000 rows x 10 columns]

In [98]:
countryhotencoder = OneHotEncoder(categorical_features = [1]) # 1 is the country column
X = countryhotencoder.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

4. Divide the data set into Train and test sets

In [0]:
# Splitting the dataset into the Training and Testing set.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

5. Normalize the train and test data (5 points)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

6. Initialize & build the model (10 points)

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
# Initializing the ANN
classifier = Sequential()

In [0]:
# This adds the input layer (by specifying input dimension) AND the first hidden layer (units)
classifier.add(Dense(activation = 'relu', input_dim = 12, units=6, kernel_initializer='uniform'))

In [0]:
# Adding the second hidden layer
# Notice that we do not need to specify input dim. 
classifier.add(Dense(activation = 'relu', units=6, kernel_initializer='uniform'))

In [0]:
# Adding the output layer
# Notice that we do not need to specify input dim. 
# we have an output of 1 node, which is the the desired dimensions of our output (stay with the bank or not)
# We use the sigmoid because we want probability outcomes
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

7. Optimize the model (Optional)

In [0]:
classifier.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [132]:
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

W0901 16:38:05.779491 139798958815104 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.4874 - acc: 0.7955
Epoch 2/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4308 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4263 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4232 - acc: 0.8005
Epoch 5/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4199 - acc: 0.8211
Epoch 6/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4171 - acc: 0.8235
Epoch 7/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4154 - acc: 0.8280
Epoch 8/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4136 - acc: 0.8309
Epoch 9/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4121 - acc: 0.8325
Epoch 10/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4110 - acc: 0.8305
Epoch 11/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4098 - acc: 0.8331
Epoch 12/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4092 - acc: 0.8334
Epoch 13/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4078 - acc: 0.8350
Epoch 14/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4075 - acc: 0.8341
Epoch 15/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4065 - acc: 0.8346
Epoch 16/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4060 - acc: 0.8335
Epoch 17/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4058 - acc: 0.8344
Epoch 18/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4052 - acc: 0.8341
Epoch 19/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4046 - acc: 0.8332
Epoch 20/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4041 - acc: 0.8351
Epoch 21/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4039 - acc: 0.8342
Epoch 22/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4041 - acc: 0.8364
Epoch 23/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4036 - acc: 0.8347
Epoch 24/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4039 - acc: 0.8335
Epoch 25/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4033 - acc: 0.8346
Epoch 26/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4034 - acc: 0.8332
Epoch 27/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4034 - acc: 0.8350
Epoch 28/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4026 - acc: 0.8340
Epoch 29/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4021 - acc: 0.8342
Epoch 30/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4027 - acc: 0.8356
Epoch 31/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4025 - acc: 0.8352
Epoch 32/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4022 - acc: 0.8341
Epoch 33/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4022 - acc: 0.8351
Epoch 34/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4015 - acc: 0.8360
Epoch 35/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4020 - acc: 0.8339
Epoch 36/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4017 - acc: 0.8347
Epoch 37/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4018 - acc: 0.8351
Epoch 38/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4016 - acc: 0.8360
Epoch 39/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4017 - acc: 0.8347
Epoch 40/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4016 - acc: 0.8354
Epoch 41/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4014 - acc: 0.8345
Epoch 42/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4014 - acc: 0.8357
Epoch 43/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4012 - acc: 0.8350
Epoch 44/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4008 - acc: 0.8337
Epoch 45/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4010 - acc: 0.8337
Epoch 46/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4006 - acc: 0.8349
Epoch 47/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4009 - acc: 0.8337
Epoch 48/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4012 - acc: 0.8347
Epoch 49/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4006 - acc: 0.8344
Epoch 50/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4012 - acc: 0.8352
Epoch 51/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4011 - acc: 0.8336
Epoch 52/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4016 - acc: 0.8352
Epoch 53/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4010 - acc: 0.8350
Epoch 54/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4010 - acc: 0.8345
Epoch 55/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4006 - acc: 0.8355
Epoch 56/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4009 - acc: 0.8337
Epoch 57/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4010 - acc: 0.8347
Epoch 58/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4005 - acc: 0.8345
Epoch 59/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4012 - acc: 0.8345
Epoch 60/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4005 - acc: 0.8352
Epoch 61/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4012 - acc: 0.8345
Epoch 62/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4009 - acc: 0.8339
Epoch 63/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4004 - acc: 0.8340
Epoch 64/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4005 - acc: 0.8344
Epoch 65/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4009 - acc: 0.8349
Epoch 66/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4007 - acc: 0.8351
Epoch 67/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4007 - acc: 0.8341
Epoch 68/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4006 - acc: 0.8357
Epoch 69/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4003 - acc: 0.8354
Epoch 70/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4007 - acc: 0.8355
Epoch 71/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4006 - acc: 0.8357
Epoch 72/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4005 - acc: 0.8344
Epoch 73/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4009 - acc: 0.8345
Epoch 74/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4005 - acc: 0.8345
Epoch 75/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4006 - acc: 0.8345
Epoch 76/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4003 - acc: 0.8350
Epoch 77/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4007 - acc: 0.8356
Epoch 78/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4005 - acc: 0.8341
Epoch 79/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4007 - acc: 0.8346
Epoch 80/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4005 - acc: 0.8336
Epoch 81/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4009 - acc: 0.8349
Epoch 82/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4001 - acc: 0.8354
Epoch 83/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4006 - acc: 0.8336
Epoch 84/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4011 - acc: 0.8342
Epoch 85/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4004 - acc: 0.8346
Epoch 86/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4006 - acc: 0.8341
Epoch 87/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4004 - acc: 0.8344
Epoch 88/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4004 - acc: 0.8355
Epoch 89/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4005 - acc: 0.8339
Epoch 90/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4007 - acc: 0.8354
Epoch 91/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3999 - acc: 0.8350
Epoch 92/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3999 - acc: 0.8357
Epoch 93/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4002 - acc: 0.8361
Epoch 94/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3999 - acc: 0.8355
Epoch 95/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4002 - acc: 0.8350
Epoch 96/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4001 - acc: 0.8340
Epoch 97/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4005 - acc: 0.8352
Epoch 98/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4004 - acc: 0.8354
Epoch 99/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4001 - acc: 0.8355
Epoch 100/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4001 - acc: 0.8347

8. Predict the results using 0.5 as a threshold (Optional)

In [134]:
y_pred = classifier.predict_classes(X_test)
print(y_pred)

[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]

2. Print the Accuracy score and confusion matrix (5 points)

In [135]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1544   51]
 [ 265  140]]

In [141]:
X_test.shape

(2000, 12)

This means that we should have about  (1544+140)=1684  correct classifications out of our total testing data size of  2000 . This means that our accuracy for this trial was  1726รท2000=84.2% , which matches the classifier's prediction

In [136]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

84.2 % of testing data was classified correctly

In [140]:
classifier.evaluate(X_test,y_test)

2000/2000 [==============================] - 0s 46us/step

[0.39819700837135313, 0.842]

Model accuracy 84.2%